@import "variables";
header {
    background-color: $c_section1;
    height: 20vh;
}

/* Estilos Header */
@keyframes texto {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

.hello {
    animation-name: texto;
    animation-duration: 3s;
    animation-iteration-count: initial;
    grid-area: hello;
    background: linear-gradient(to bottom, #404258, #6B728E);
    margin: 0%;
}

.logo {
    grid-area: logo;
    background: linear-gradient(to bottom, #6B728E, #404258);
    z-index: 2;
    opacity: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation {
    grid-area: nav;
    background: linear-gradient(to bottom, #6B728E, #404258);
    padding-top: 5px;
    z-index: 2;
    opacity: 95%;

    a {
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        font-weight: bold;
    }

    button {
        text-transform: uppercase;
        font-weight: bold;
        color: black;
        background-color: #71B0BF;
        border: 1px solid black;
        border-radius: 3px;
        cursor: pointer;
    }
}