@import "structures", "header", "footer", "variables", "mixins", "maps", "transitions";


/* Estilos MAIN */
main {
    background-color: $c_section1;
    overflow-x: hidden;
}

.intro {
    grid-area: intro;
    background-image: url(../images/young-fitness-man-in-studio.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    height: 80vh;
    width: 100vw;

    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    div {
        @extend .colCentered;
        justify-content: center;
        margin-left: 2%;
        margin-top: 2%;
    }
}

/* Estilo a nuestros pilares */

.pilars {
    background-color: white;
    box-shadow: 0px 0px 8px 7px #0000007a;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: auto;
}

.pilar1 {
    grid-area: pilar1;
}

.pilar2 {
    grid-area: pilar2;
}

.moralArticle {
    grid-area: moralAr;
    width: 800px;
    line-height: 25px;
    font-size: large;
    @include linkVisited;
}

/* Estilo para sección de formulario */

.ask {
    grid-area: ask;
    background-color: $c_section2;
    display: flex;
    justify-content: space-evenly;

    article {
        font-size: 20px;
        line-height: 40px;
        width: 400px;
        display: block;
        @include linkVisited;
        @include margins(tb, 2rem);
    }
}


/* FORMULARIOS */

.askAside {
    width: 600px;
    height: auto;
    @include border-color(black);
    @include margins(tb, 2rem);
    border-radius: 4px;
    padding: 4px;

    div {
        @include margins(b, 0.5rem);
    }

    .fila {
        display: flex;
        flex-direction: row;
        align-items: center;

        .columna1 {
            width: 250px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            input {
                font-size: 1rem;
                padding: 1px;
                @include border-color(#350149);
                height: 30px;

                /* Animación para formulario */
                &:hover {
                    height: 35px;
                    transition: all 1s;
                }
            }
        }

        .columna2 {
            width: 300px;
            height: 150px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            @include border-color(#350149);
            @include margins(l, 2rem);
            font-size: 1rem;
            padding: 2px;
        }
    }


    /* Estilo para botones de formulario */

    .botones {
        @extend .rowCentered;
        align-items: center;
        @include margins(t, 1rem);

        input {
            @include border-color(#2b023b);
            @include margins (all, 10px);
            padding: 4px;
            @include button;
        }
    }


}

/*--------- Style for Sedes.html ---------- */

.galery {
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;


}

.schedule {
    background-color: $c_section2;

    table {
        width: 70vw;
        @include border-color(#754848);
    }
}

.location {
    background-color: $c_section3;
    padding: 1rem 2rem 1rem 2rem;
    width: auto;

    div {
        margin-top: 20px;
        margin-bottom: 2rem;
    }
}

/* Styles for sobre-nosotros.html */
.ourHistory {
    @extend .colCentered;

    button {
        background-color: $c_section1;
    }
}

.cronology .card {
    background-color: $c_section3;
    border: 2px solid black;
}

.ourTeam {
    background-color: $c_section2;
    font-size: 20px;
    text-align: center;
}

.profesors {

    background-color: $c_section2;

    .card {
        text-align: center;
        background-color: #3d3546;
        color: white;

        img {
            margin-top: 1rem;
            height: 350px;
            object-fit: cover;
        }
    }
}


/* Styles for clases-reservas.html */

.mainClases {
    background-image: url(../images/chica-entrenando.jpg);
    background-size: 100%;
    background-repeat: no-repeat;

    button {
        color: white;
    }
}

.reservation select {
    width: 200px;
    background-color: bisque;
    margin-top: 10px;
}

.classDescription {
    width: 560px;
}

/* Styles for NOVEDADES */

.newsArticle {
    padding: 3rem;
    border-bottom: 2px dashed black;

    div {
        @extend .rowCentered;
        align-items: center;
    }
}

.atrasAdelante {
    text-align: center;
    @extend .rowCentered;
    padding: 2rem;

    input {
        background-color: #e76c6c;
        @include border-color(black);
        font-weight: bold;
        font-size: 100%;
        @include margins(lr, 2rem);
        padding: 10px;
    }
}

/* Styles for tienda.html */

.products {
    @extend .rowCentered;
    align-items: center;
    justify-content: space-evenly;

    .card {
        margin: 20px;
        z-index: 1;
        background-color: $c_section3;

        img {
            margin-top: 1rem;
            height: 270px;
        }

        a {
            @include button;
            text-decoration: none;
            font-size: 0.8rem;
            padding: 0.5rem;
        }
    }

    .card-body {
        @extend .colCentered;
        justify-content: space-between;

    }
}

/* ---------GRID------------ */

/* VERSIÓN DE ESCRITORIO */

/* GRID AREA HEADER */

.headerContainer {
    display: grid;
    grid-template-areas: "logo hello hello hello hello hello hello" "logo nav nav nav nav nav nav";
}

/* GRID AREA MAIN de index.html */

.mainContainer {
    display: grid;
    grid-template-areas: "intro intro intro intro" "pilar1 moralAr moralAr pilar2" "ask ask ask ask";

    h2 {
        font-size: 2rem;
        font-weight: bold;
    }
}

/*MEDIA QUERIES*/

/* VERSIÓN TABLETA */
/* Si la pantalla tienen un mínimo de 768 pixeles y máximo de 1199 pixeles  ejecuto el siguiente codigo */

@media (min-width: 768px) and (max-width: 1199px) {
    .headerContainer {
        grid-template-areas: "logo hello" "logo nav";
    }

    .mainContainer {
        grid-template-areas: "intro intro" "pilar1 pilar2" "moralAr moralAr" "ask ask";
    }

    .moralArticle {
        width: auto;
        @include margins(lr, 2rem);
    }

    .pilars {
        margin-left: 30%;
        height: 400px;
    }

    .ask {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        article {
            width: auto;
            margin: 20px 50px 20px 50px;
            text-align: center;
        }

        aside {
            margin: 20px 50px 50px 100px;
        }
    }

    /* Clases|Reservas*/
    .mainClases {
        background-size: cover;
    }

}

/* VISTA MOVIL */

@media (max-width: 767px) {
    /* index.html */

    .headerContainer {
        grid-template-areas: "logo hello" "logo nav";
    }

    .mainContainer {
        grid-template-areas: "intro intro" "pilar1 pilar2" "moralAr moralAr" "ask ask";
    }

    .intro {
        margin-bottom: 0;
        height: auto;

        div {
            h2 {
                margin-top: 0.5rem;
            }

            * {
                font-size: 1rem;
            }
        }
    }

    .pilars {
        width: 140px;
        height: 240px;
        margin-left: 20%;

        img {
            width: 100px;
            height: 200px;
        }
    }

    .moralArticle {
        width: auto;
        @include margins(lr, 2rem);
        margin-left: 30px;
        margin-top: 1rem;
    }

    .ask {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 2rem;

        article {
            width: auto;
            margin-bottom: 2rem;
            text-align: center;
        }

    }

    .askAside {
        width: auto;
        height: auto;
        font-size: 1rem;

        .form .fila {
            display: flex;
            flex-direction: column;
            align-items: center;

            textarea {
                margin-left: 0.5rem;
                margin-right: 0.5rem;
                width: 250px;
            }
        }


        .botones {
            display: flex;
            flex-direction: row;
        }


    }

    /* sedes.html */
    .filiaries {
        .galery {
            height: auto;
        }

        margin-bottom: 0;
    }

    .schedule {
        font-size: 8px;

        * {
            margin: 0;
            padding: 0;
        }
    }

    /* Clases|Reservas*/
    .mainClases {
        background-size: cover;
    }
}